{:CORESIZE 8000
 :PSPACESIZE 0 ; default 500, but we do icws-88 with no pspace
 :MAXCYCLES 80000
 :MAXPROCESSES 8000
 :WARRIORS 2
 :MAXLENGTH 100
 :MINDISTANCE 100
 :VERSION 102
 :CURLINE 0 ;DYNAMIC
}
